<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Allegheny County Emergency Services</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="user[viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- style -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/skin-blue.min.css">
  <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>ACES</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Allegheny County</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="https://i2.wp.com/hoopieworld.com/wp2/wp-content/uploads/2014/01/allegheny-county-911.gif" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">ACES</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="https://i2.wp.com/hoopieworld.com/wp2/wp-content/uploads/2014/01/allegheny-county-911.gif" class="img-circle" alt="User Image">
                
                  Allegheny County Emergency Services
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://i2.wp.com/hoopieworld.com/wp2/wp-content/uploads/2014/01/allegheny-county-911.gif" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          ACES</p>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="search" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="user[q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="user[search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Form Options</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="search"><i class="fa fa-link"></i> <span>Form Lookup</span></a></li>
        <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
    <form action='/commit_updates'>
    <h3>General Information</h3>
    Name: <input type ="text" name="user[name]" value="<%=results["name"]%>"><br>
    Address: <input type ="text" name="user[street_address]" value="<%=results["street_address"]%>"><br>
<!--     PDA Date: <input type ="date" name="user[pda_date"><br>
    Date: <input type ="date" name="user[date"><br> -->
    Date of Damage: <input type ="date" name="user[date_damaged]" value="<%=results["date_damaged"]%>"><br>
    County: <input type ="text" name ="user[county]" value="<%=results["county"]%>"><br>
    Municipality: <input type ="text" name="user[municipality_name]" value="<%=results["municipality_name"]%>"><br>
    City: <input type ="text" name="user[city]" value="<%=results["city"]%>"><br>
    <!-- Code: <input type ="text" name="user[municipality_code"><br> -->
    Zip Code: <input type ="number" name="user[zip_code]" value="<%=results["zip_code"]%>"><br>
    Longitude: <input type ="number" name="user[longitude]" value="<%=results["longitude"]%>"><br>
    Latitude: <input type ="number" name="user[latitude"  value="<%=results["latitude"]%>"><br>
    <!-- Type of Disaster: <input type ="text" name="user[incident_type]"><br> -->
    Basement Water Height(inches): <input type="number" name="user[basement_water]"  value="<%=results["basement_water"]%>"><br>
    First Floor Water Height(inches): <input type="number" name="user[first_floor_water]"  value="<%=results["first_floor_water"]%>"><br>
    Location Notes: <textarea rows="4" cols="50" name="user[location_notes]"><%=results["location_notes"]%></textarea><br>
    <h3>Type of Applicant</h3>
      <input type="radio" name="user[hometype]" value="renter">Renter<br>
      <input type="radio" name="user[hometype]" value="homeowner">Homeowner<br>
      Other: <input type="text" name="user[tasother"><br>
    <h3>Primary Home?</h3>
      <input type="radio" name="user[primary_home]" value="yes">Yes<br>
      <input type="radio" name="user[primary_home]" value="no">No<br>
    <h3>Renter?</h3>
      <input type="radio" name="user[renter]" value="yes">Yes<br>
      <input type="radio" name="user[renter]" value="no">No<br>
    <h3>Type of Structure</h3>
      <input type="radio" name="user[structure_type]" value="single">Single Family<br>
      <input type="radio" name="user[structure_type]" value="multiple">Multiple Family<br>
      <input type="radio" name="user[structure_type]" value="buisness">Buisness<br>
      <input type="radio" name="user[structure_type]" value="nonprofit">Nonprofit<br>
    <h3>Flood Insurance?</h3>
      <input type="radio" name="user[flood_insurance]" value="yes">Yes<br>
      <input type="radio" name="user[flood_insurance]" value="no">No<br>
    <h3>Home or Mobile?</h3>
      <input type="radio" name="homeormobile" id="homeormobile" value="home" onclick="homeOrMobile('Home');">Home<br>
      <input type="radio" name="homeormobile" id="homeormobile" value="mobile" onclick="homeOrMobile('Mobile');">Mobile<br>
    <!-- <h3>Market Value of Property</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_mv]">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_mv]">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_mv]">
    <h3>Estimated Disaster Loss in Dollars</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_dl]">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_dl]">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_dl]">
    <h3>Amount of Insurance</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_ai]">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_ai]">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_ai]">
    <h3>Dollar Amount of Uninsured loss</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_ul]">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_ul]">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_ul]">
      <h4 class="tabbed">Total</h4>
      <input class="tabbed" type=number name="user[total_ul]">
    <h3>Percent of Uninsured Loss</h3>
    <h4 class="tabbed">structure %uninsuredloss</h4>
    <h4 class="tabbed">contents %uninsuredloss</h4>
    <h4 class="tabbed">land and inprovements %uninsuredloss</h4> -->
<table class="tg">
  <tr>
    <th class="tg-baqh">System</th>
    <th class="tg-baqh" colspan="2">Damaged</th>
    <th class="tg-baqh" colspan="2">%R.C.</th>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-baqh">Home</td>
    <td class="tg-baqh">Mobile <br>Home</td>
    <td class="tg-baqh">Home</td>
    <td class="tg-baqh">Mobile <br>Home</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Foundation</td>
    <td class="tg-baqh"><input type="number" size="1" maxlength="1" min="0" max="7" name="user[foundation_home]" value="<%=results["foundation_home"]%>" id="foundation_home" onchange="onHomeChanged('foundation_home');">></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">7</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Floor(frame)</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="16" name="user[floor_frame_home]" value="<%=results["floor_frame_home"]%>" id="floor_frame_home" onchange="onHomeChanged('floor_frame_home');"></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="20" name="user[floor_frame_mobile]" value="<%=results["floor_frame_mobile"]%>" id="floor_frame_mobile" onchange="onMobileChanged('floor_frame_mobile');"></td>
    <td class="tg-baqh">16</td>
    <td class="tg-baqh">20</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Exterior Walls</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="14" name="user[exterior_walls_home]" value="<%=results["exterior_walls_home"]%>" id="exterior_walls_home" onchange="onHomeChanged('exterior_walls_home');"></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="35" name="user[exterior_walls_mobile]" value="<%=results["exterior_walls_mobile"]%>" id="exterior_walls_mobile" onchange="onMobileChanged('exterior_walls_mobile');"></td>
    <td class="tg-baqh">14</td>
    <td class="tg-baqh">35</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Roof</td>
    <td class="tg-baqh"><input type="number" size="1" maxlength="1" min="0" max="9" name="user[roof_home]" value="<%=results["roof_home"]%>" id="roof_home" onchange="onHomeChanged('roof_home');"></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="20" name="user[roof_mobile]" value="<%=results["roof_mobile"]%>" id="roof_mobile" onchange="onMobileChanged('roof_mobile');"></td>
    <td class="tg-baqh">9</td>
    <td class="tg-baqh">20</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Interior Walls</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[interior_walls_home]" value="<%=results["interior_walls_home"]%>" id="interior_walls_home" onchange="onHomeChanged('interior_walls_home');"></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="25" name="user[interior_walls_mobile]" value="<%=results["interior_walls_mobile"]%>" id="interior_walls_mobile" onchange="onMobileChanged('interior_walls_mobile');"></td>
    <td class="tg-baqh">28</td>
    <td class="tg-baqh">25</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Plumbing</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="10" name="user[plumbing_home]" value="<%=results["plumbing_home"]%>" id="plumbing_home" onchange="onHomeChanged('plumbing_home');"></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">10</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Heating/A.C.</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="10" name="user[heating_ac_home]" value="<%=results["heating_ac_home"]%>" id="heating_ac_home" onchange="onHomeChanged('heating_ac_home');"></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">10</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Electrical</td>
    <td class="tg-baqh"><input type="number" size="1" maxlength="1" min="0" max="6" name= "electrical_home]" value="<%=results["electrical_home"]%>" id="electrical_home" onchange="onHomeChanged('electrical_home');"></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">6</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td>Total % Damaged</td>
    <td id="home_total_pct_damaged">0
    <td id="mobile_total_pct_damaged">0
    <td colspan="2">
  </tr>
  </table><br>
  <table class="tg">
    <tr>
      <th class="tg-s6z2" colspan="3">Damage Category</th>
    </tr>
    <tr>
      <td class="tg-943m"></td>
      <td class="tg-s6z2">Home</td>
      <td class="tg-s6z2">Mobile<br>Home</td>
    </tr>
    <tr>
      <td class="tg-s6z2">Destroyed</td>
      <td class="tg-s6z2"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[destroyed_home]" value="<%=results["destroyed_home"]%>"></td>
      <td class="tg-s6z2"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[destroyed_mobile]" value="<%=results["destroyed_mobile"]%>"></td>
    </tr>
    <tr>
      <td class="tg-baqh">Major</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[major_home]" value="<%=results["major_home"]%>"></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[major_mobile]" value="<%=results["major_mobile"]%>"></td>
    </tr>
    <tr>
      <td class="tg-baqh">Minor</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[minor_home]" value="<%=results["minor_home"]%>"></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[minor_mobile]" value="<%=results["minor_mobile"]%>"></td>
    </tr>
    <tr>
      <td class="tg-baqh">Affected</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[affected_home]" value="<%=results["affected_home"]%>"></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[affected_mobile]" value="<%=results["affected_mobile"]%>"></td>
    </tr>
    <tr>
      <td class="tg-baqh">Inaccessible</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[inaccessible_home]" value="<%=results["inaccessible_home"]%>"></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[inaccessible_mobile]" value="<%=results["inaccessible_mobile"]%>"></td>
    </tr>
  </table><br>
  <input type="hidden" name="user[id]" value="<%=results["id"]%>">
  <input type="submit">
</form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-4luf{background-color:#656565;text-align:center;vertical-align:top}
.tg .tg-s6z2{text-align:center}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-943m{background-color:#656565;text-align:center}
</style>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="js/app.min.js"></script>

<script src="js/calc.js"></script>
</body>
</html>
